:root {
    --color-principal: #00c8ff;
    --ancho-principal: 250px;
}

.titulo {
    /* color: red; */
    color: var(--color-principal)
}

.footer {
    /* color: darkorchid; */
    color: var(--color-principal)
}

.contenedor {
    background-color: antiquewhite;
    padding: 1rem;
    max-width: var(--ancho-principal);
}
